* {
  font-family: "Roboto";
  padding: 0;
  margin: 0; }

.marker {
  display: block;
  position: absolute;
  -webkit-transform: translateZ(20px) translateX(-50%) translateY(-50%) scale(0);
          transform: translateZ(20px) translateX(-50%) translateY(-50%) scale(0);
  border-radius: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-color: #000;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 15px;
  height: 15px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }
  .marker::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    border: 2px solid #000;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .marker--display {
    opacity: 1;
    -webkit-transform: translateZ(20px) translateX(-50%) translateY(-50%) scale(1);
            transform: translateZ(20px) translateX(-50%) translateY(-50%) scale(1); }
    .marker--display:hover {
      -webkit-transform: translateZ(20px) translateX(-50%) translateY(-50%) scale(1.3);
              transform: translateZ(20px) translateX(-50%) translateY(-50%) scale(1.3); }
  .marker--zoom {
    -webkit-animation: none !important;
            animation: none !important;
    width: 200vw !important;
    height: 200vw !important;
    top: 50% !important;
    left: 50% !important;
    background-color: #000 !important;
    -webkit-transform: scale(1) translateX(-50%) translateY(-50%) !important;
            transform: scale(1) translateX(-50%) translateY(-50%) !important; }
    .marker--zoom::after {
      display: none; }

@-webkit-keyframes bounce {
  0% {
    width: 15px;
    height: 15px; }
  50% {
    width: 26px;
    height: 26px; }
  100% {
    width: 15px;
    height: 15px; } }

@keyframes bounce {
  0% {
    width: 15px;
    height: 15px; }
  50% {
    width: 26px;
    height: 26px; }
  100% {
    width: 15px;
    height: 15px; } }
body {
  height: 100vh;
  overflow: hidden; }

.map {
  background-image: url(../images/plan.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 500px;
  height: 500px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  cursor: crosshair;
  -webkit-transform: translateX(-50%) translateY(-50%) rotateX(80deg) rotateZ(10deg) translateZ(0px);
          transform: translateX(-50%) translateY(-50%) rotateX(80deg) rotateZ(10deg) translateZ(0px); }
  .map--top {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateX(80deg) rotateZ(10deg) translateZ(1000px);
            transform: translateX(-50%) translateY(-50%) rotateX(80deg) rotateZ(10deg) translateZ(1000px); }
  .map--bottom {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateX(80deg) rotateZ(10deg) translateZ(-1000px);
            transform: translateX(-50%) translateY(-50%) rotateX(80deg) rotateZ(10deg) translateZ(-1000px); }
  .map--select {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateZ(0deg) translateZ(0);
            transform: translateX(-50%) translateY(-50%) rotateX(0deg) rotateZ(0deg) translateZ(0); }
  .map--fade {
    opacity: 0.4; }
  .map__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 0;
    background: transparent;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
    .map__close--display {
      opacity: 1;
      pointer-events: all;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
    .map__close:hover {
      background-color: #EEE; }
    .map__close i {
      font-size: 30px;
      color: black; }
  .map__container {
    perpsective: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0; }
  .map__nav {
    right: 5vh;
    top: 10vh;
    height: 90vh;
    font-size: 14px;
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .map__nav-item {
      font-weight: normal;
      text-align: center;
      padding: 20px 0;
      position: relative;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      color: black;
      -webkit-transform: scale(1);
              transform: scale(1);
      cursor: pointer; }
      .map__nav-item:not(:last-child) {
        margin-bottom: 70px; }
        .map__nav-item:not(:last-child)::after {
          content: "";
          display: block;
          width: 1px;
          height: 70px;
          background-color: black;
          position: absolute;
          left: 50%;
          top: 100%; }
      .map__nav-item--disable {
        color: #DDD;
        -webkit-transform: scale(0.9);
                transform: scale(0.9); }
      .map__nav-item--active {
        color: black; }

.photo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; }
  .photo__thumbnail-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-image: url(../images/plan.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 5;
    background-color: white;
    cursor: -webkit-zoom-out;
    cursor: zoom-out; }
    .photo__thumbnail-back--display {
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .photo__canvas {
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
    cursor: move; }
  .photo__sidebar {
    position: fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    top: 0;
    right: 0;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 25%;
    min-width: 300px;
    max-width: 400px;
    color: white; }
    .photo__sidebar--display {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    .photo__sidebar-close {
      position: absolute;
      top: 10px;
      left: 10px;
      color: white;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      .photo__sidebar-close--reverse {
        left: -60px;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
      .photo__sidebar-close i {
        font-size: 40px; }
    .photo__sidebar-title {
      margin: 30px 0 20px 0;
      letter-spacing: 0;
      font-weight: bold;
      color: white;
      text-align: left; }
    .photo__sidebar-content {
      font-weight: 100;
      line-height: 1.5;
      letter-spacing: 0px; }
  .photo--loading {
    z-index: 1;
    opacity: 1; }
  .photo--display {
    z-index: 1; }
    .photo--display .photo__canvas {
      opacity: 1; }

.visite__title {
  position: fixed;
  top: 30px;
  left: 30px; }
.visite__util {
  position: absolute;
  top: 30px;
  right: 30px; }
.visite__body {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s; }
  .visite__body--hide {
    opacity: 0; }
